* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--grey);
    font-family: Arial, sans-serif;
}

:root {
    --green: #098d1f;
    --blue: #3C91E6;
    --grey: #eee;
    --dark: #342E37;
    --light: #F9F9F9;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#container-left {
    width: 19%;
    background-color: var(--light);
    padding-left: 7px;
    position: relative;
    /* height: 700px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#container-left:hover #hideSideBar {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

#hideSideBar .fa-less-than,
#hideSideBar .fa-greater-than {
    font-size: 1.2rem;
    cursor: pointer;
}

#hideSideBar.hidden {
    width: 60px;
}

#hideSideBar {
    padding-left: 20px;
    position: absolute;
    left: 100%;
    top: 60%;
    transform: translateX(-50%);
    background-color: var(--light);
    border-radius: 0 30px 30px 0;
    width: 55px;
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#logo {
    width: 80%;
    text-align: center;
    height: 15%;
    /* border: 2px solid red; */
    margin: 0 auto;
}

#logo img {
    height: 100%;
    width: 100%;
}

#menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu {
    width: 100%;
    flex-grow: 1;
    /* height: 55%; */
    background: var(--light);
    margin-top: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;

}

#menu ul li {
    padding: 4px;
    background: transparent;
    /* border-bottom: 1px solid #ccc;     */
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 48px;
    /* border-radius: 48px 0 0 48px; */
    height: 48px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#menu ul li.active {
    background: var(--grey);

}

#menu ul li.active a {
    color: var(--blue);
}

/* #menu ul li.active::before{
    content: '';
    position: absolute;
} */
#menu ul li a {
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 48px;
    color: var(--dark);
    background: var(--light);
}

#menu ul li a .fa-solid {
    min-width: 40px;
    display: flex;
    justify-content: center;
}

#menu ul li a:hover {
    color: var(--blue);
}

.text {
    margin-left: 12px;
}

#footer {
    width: 100%;
    height: 17%;
    text-align: center;
    padding: 7px;
    border-top: 1px solid #ccc;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer a {
    /* border: 2px solid red; */
    text-decoration: none;
    color: #333;
    width: 100%;
    /* height: 30px; */
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    /* border-radius: 48px; */
    color: var(--dark);
    background: var(--light);
    overflow: hidden;
    font-size: 1.1rem;
}

#footer a .fa-solid {
    min-width: 40px;
    display: flex;
    justify-content: center;
}

#footer a:hover {
    color: var(--blue);
}

#container-right {
    width: 80%;
    padding: 0px 5px 10px 15px;
    position: relative;
}

/* ADD ACCOUNT */
.container-addaccount {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.container-addaccount input,.container-addaccount
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    width: 100%;
    background-color: #00bfff;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #009ad8;
}

/* Toast */
#toast {
    display: none;
    position: fixed;
    min-width: 270px;
    min-height: 80px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    line-height: 70px;
    animation: fadein 1s, fadeout 1s 3s;
    z-index: 100;
    font-size: 1.1rem;
}

@keyframes fadein {
    from {
        top: calc(30px - 70px);
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    to {
        top: calc(30px - 70px);
        opacity: 0;
    }
}

/* TABLE USERS */
.status-complete {
    background-color: #27ae60;
    color: #fff;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

.status-no-complete {
    background-color: #f04e2e;
    color: #fff;
    padding: 5px 4px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

/* ADD PRODUCT */
/* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
} */

.container-add-product {
    max-width: 900px;
    margin: 10px auto;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.header-add-product {
    background-color: #66ccff;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.form-wrapper-add-product {
    display: flex;
    /* flex-direction: row; */
    padding: 15px 20px 10px 20px;
}

.image-upload {
    flex: 1;
    text-align: center;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-upload .preview {
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    /* Tạo nền nhạt như trong ảnh */
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.image-upload .preview span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.image-upload .preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Giữ tỷ lệ ảnh, không bị kéo giãn */
}

.form-inputs {
    flex: 2;
    padding-left: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    padding-left: 7px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

.buttons-add-product {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table-container th {
    background: #3498DB;
    color: white;
}

.table-container th,
.table-container td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.table-container tr:hover {
    background-color: #f9f9f9;
}


.buttons-add-product button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #00bfff;
    font-weight: bold;
    margin-left: 10px
}

.buttons-add-product button:hover {
    opacity: 0.7;
}

.buttons-add-product button.cancel-add-product {
    background-color: #FF6666;

}

.buttons-add-product a {
    text-decoration: none;
    color: black;
}

.upload-btn-label {
    display: inline-block;
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    font-size: 14px;
}

.upload-btn-label:hover {
    background-color: #009ad8;
}

#imageInput {
    display: none;
}

#container-product-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 22%;
    margin-left: 20px;
    /* border: 2px solid red; */
}

#container-product-status label {
    font-weight: 500;
    /* border: 2px solid red; */
    line-height: 30px;
    /* height: 100%; */
}

.radio-product-status {
    display: flex;
}

.hidden-product {
    opacity: 0.5;
}