/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}


/* Main Content */
.main-content {
    padding: 20px;
    background: #ECF0F1;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.add-chungloai-btn,
.add-theloai-btn {
    background: #27AE60;
    color: white;
    border: none;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.add-theloai-btn {
    width: 120px;
    height: 30px;
}
.add-chungloai-btn:hover,
.add-theloai-btn:hover {
    background: #219150;
}




/* Bảng danh sách */
.chungloai-list {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #BDC3C7;
    padding: 10px;
    text-align: center;
}
td[rowspan] > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

th {
    background: #3498DB;
    color: white;
}

/* Nút chỉnh sửa */
.edit-theloai-btn,
.edit-chungloai-btn,
.delete-theloai-btn,
.delete-chungloai-btn{
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #BDC3C7;
    margin: 2px;
    background: white;
}
/* .delete-chungloai-btn{ */
    /* width: auto; */
/* } */

.delete-theloai-btn:hover,
.delete-chungloai-btn:hover {
    background: #C0392B;
    color: white;
}
.edit-theloai-btn:hover,
.edit-chungloai-btn:hover {
    background: #D4AC0D;
    color: white;
}


/* Popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none; /* Đừng hiển thị mặc định */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay.active { /* Class khi muốn hiện */
    display: flex;
}

.popup-content {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    width: 450px;
    /* height: 400px; */
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.popup-header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2 {
    margin: 16px;
    width: 100%;
    text-align: center;
}

.close-btn {
    margin-left: 10px;
    cursor: pointer;
    font-size: 25px;
    color: red;
}

.popup-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-body .input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.popup-body label {
    margin-right: 10px;
    width: 120px;
    text-align: right;
}

.popup-body input {
    flex: 1;
    padding: 8px;
}

.popup-body button {
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin: 20px;
    padding: 8px 16px;
    background: #28a745; /* xanh lá */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.popup-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}
.popup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-footer button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn-sua-theloai {
    background-color: #4CAF50;
    color: white;
}

#btn-xoa-theloai,
#btn-xoa-chungloai {
    background-color: #f44336;
    color: white;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-row label {
    width: 130px;
    font-weight: bold;
}

.input-row input,
.input-row span {
    flex: 1;
}

