* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--grey);
    font-family: Arial, sans-serif;
}

:root {
    --blue: #3C91E6;
    --grey: #eee;
    --dark: #342E37;
    --light: #F9F9F9;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#container-left {
    width: 20%;
    background-color: var(--light);
    padding-left: 7px;
    /* border-right: 1px solid #ccc; */
    position: relative;
}

#container-left:hover #hideSideBar {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

#hideSideBar .fa-less-than,
#hideSideBar .fa-greater-than {
    font-size: 1.2rem;
}

#hideSideBar.hidden {
    width: 60px;
}

#hideSideBar {
    padding-left: 20px;
    position: absolute;
    left: 100%;
    top: 60%;
    transform: translateX(-45%);
    background-color: var(--light);
    border-radius: 0 30px 30px 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#logo {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    height: 15%;
}

#menu {
    width: 100%;
    height: 65%;
    background: var(--light);
}

#menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;

}

#menu ul li {
    padding: 4px;
    background: transparent;
    /* border-bottom: 1px solid #ccc;     */
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 48px 0 0 48px;
    height: 48px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#menu ul li.active {
    background: var(--grey);

}

#menu ul li.active a {
    color: var(--blue);
}

/* #menu ul li.active::before{
    content: '';
    position: absolute;
} */
#menu ul li a {
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 48px;
    color: var(--dark);
    background: var(--light);
}

#menu ul li a .fa-solid {
    min-width: 40px;
    display: flex;
    justify-content: center;
}

#menu ul li a:hover {
    color: var(--blue);
}

.text {
    margin-left: 12px;
}

#footer {
    width: 100%;
    height: 17%;
    text-align: center;
    padding: 7px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer a {
    /* border: 2px solid red; */
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    /* border-radius: 48px; */
    color: var(--dark);
    background: var(--light);
    overflow: hidden;
    font-size: 1.1rem;
}

#footer a .fa-solid {
    min-width: 40px;
    display: flex;
    justify-content: center;
}

#footer a:hover {
    color: var(--blue);
}

#container-right {
    width: 80%;
    padding: 20px;
}

#product-container {
    height: 100%;
    width: 100%;
}

#product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

#product-header h2 {
    margin: 0;
}

#product-header a {
    text-decoration: none;
    color: #333;
}

#product-header a:hover {
    color: #666;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#product-list table th {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#product-list table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#product-list table td img {
    width: 100px;
    height: 100px;
}

#product-list table td a {
    text-decoration: none;
    color: #333;
}

#product-list table td a:hover {
    color: #666;
}