#cart {
    width: 80%;
    margin: 14px auto;
}

#info p {
    margin-bottom: 12px;
    font-size: 16px;
}

#payment {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

#payment i {
    user-select: none;
    cursor: pointer;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
    margin-bottom: 30px;
}

.progress-step {
    width: 40px;
    height: 40px;
    /* background: #ddd; */
    border: 3px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    transition: background 0.4s ease;
    z-index: 1;
}

.progress-step.active {
    background: #3498db;
    border: 0px;
}

.progress-step.active::after {
    color: #3498db;
}

.progress-step::after {
    content: attr(data-step);
    position: absolute;
    top: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

.progress-line {
    flex: 1;
    height: 2px;
    background: #ddd;
    transition: background 0.4s ease;
}

.progress-line.active {
    background: #3498db;
}

#cart-info {
    width: 600px;
    padding: 0 16px;
    margin: 32px auto 0px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.cart-image {
    flex: 1;
}

.cart-image img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.cart-info {
    flex: 3;
    margin-left: 10px;
}

.cart-title {
    font-size: 16px;
    font-weight: bold;
}

.cart-color {
    font-size: 14px;
    color: #666;
}

.cart-remove {
    font-size: 12px;
    color: red;
    cursor: pointer;
}

.cart-price {
    text-align: right;
    flex: 1;
}

.new-price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
}

.cart-quantity {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.cart-quantity button {
    width: 30%;
    height: 30px;
    outline: none;
    background: white;
    cursor: pointer;
}

.cart-quantity p {
    width: 40%;
    text-align: center;
    border: 1px solid #ddd;
    border: none;
}

.plus {
    border-left: 2px solid #ddd;
    border-bottom: none;
    border-top: none;
    border-right: none;
}

.minus {
    border-right: 2px solid #ddd;
    border-bottom: none;
    border-top: none;
    border-left: none;
}