:root {
    --swiper-navigation-size: 30px !important;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: white;

}

#top-header {
    height: 80px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* gap: 40px; */
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

#bot-header {
    height: 55px;
    margin-top: 4px;
    background-color: #79c7ff;
    font-size: 1.2rem;
    /* transition: height 0.3s ease-in-out; */
}

#timkiem-header {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
    border-radius: 20px;
    position: relative;
    flex: 2;
    align-items: center;
    justify-content: center;
}

#timkiem-header input {
    border: none;
    outline: none;
    width: 250px;
}

#find {
    background-color: #5cb3f1;
    height: 100%;
    /* width: 100%; */
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#find:hover {
    cursor: pointer;
    background-color: #2399ed;
}

#filter {
    background-color: #5cb3f1;
    height: 100%;
    /* width: 100%; */
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#filter-exit:hover {
    color: #2399ed;
}

#filter:hover {
    cursor: pointer;
    background-color: #2399ed;
}

#filter-menu {
    /* display: none; */
    color: #5cb3f1;
    position: absolute;
    height: 0px;
    width: 78%;
    top: 100%;
    background-color: white;
    z-index: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

#filter-menu.active {
    height: 550px;
    border: solid 1px #5cb3f1;
}

#filter-menu div {
    padding: 5px;
    margin: 7px;
}

#filter-menu input[type="checkbox"] {
    appearance: none;
    width: 17px;
    height: 17px;
    border: 2px solid #5cb3f1;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

#filter-menu input[type="checkbox"]:checked {
    background-color: #5cb3f1;
    border-color: #5cb3f1;
}

#filter-menu input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -4px;
    left: 1px;
}


#filter-menu input[type="text"] {
    width: 95%;
    padding: 7px;
    margin-top: 3px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #5cb3f1;
    color: white;
}

#filter-menu [type="text"]::placeholder {
    color: white;
}

#filter-menu button {
    border-radius: 10%;
    height: 40px;
    width: 120px;
    color: white;
    border: solid white;
    background-color: #5cb3f1;
    font-size: 1.2rem;
}

#filter-menu label {
    cursor: pointer;
}

#filter-category div {
    display: flex;
    justify-content: space-between;
}

#filter-brand div {
    display: flex;
    justify-content: space-between;
}

#filter-reset {
    display: flex;
    justify-content: center;
}

#filter-reset>button {
    cursor: pointer;
}

#filter-reset>button:hover {
    cursor: pointer;
    background-color: #2399ed;
}

#filter-price,
#filter-category,
#filter-brand {
    border-bottom: solid 1px gray;
    border-width: 50%;
    text-align: center;
}

#left-header,
#infomation-header,
#right-header {
    display: flex;
    align-items: center;
}

#infomation-header>div {
    display: flex;
    align-items: center;
    gap: 8px;
}

#taikhoan-container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
    /* border: 3px solid #5cb3f1; */
    padding: 10px 7px 10px 10px;
    /* border-radius: 20px; */
    min-width: 140px;
    height: 42px;
    cursor: pointer;
    overflow: hidden;
    /* color: #5cb3f1;    */
}

#cart-container {
    background-color: #2399ed;
    height: 100%;
    width: 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#left-header {
    /* flex: 2; */
    width: 40%;
    /* margin-right: 14px; */
}

#infomation-header {
    /* flex: 1; */
    width: 25%;
    justify-content: space-between;
}

#right-header {
    width: 30%;
    /* flex: 2; */
    justify-content: flex-end;
    gap: 40px;
}

#bot-header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#left-bot-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    /* gap: 20px; */
}

#left-bot-header>div {
    padding: 0 16px;
    line-height: 55px;
    transition: background-color 0.2s ease;
}

#left-bot-header>div:hover {
    background-color: #2399ed;
    cursor: pointer;
}

#left-bot-header>div:hover .icon-up i {
    /* transform: translate(-2px); */
    transform: rotate(180deg);
    content: '\f0dd';
}

#left-bot-header>div:hover .icon-up {
    transform: translateY(-2px);
}

#left-bot-header .icon-up i {
    transition: transform 0.1s ease;
}

.icon-up {
    padding: 0;
    transform: translateY(3px);
}

#right-bot-header {
    color: white;
    display: flex;
    gap: 7px;
    animation: ring 1s ease infinite;
}


/* Register */
* {
    box-sizing: border-box;
}

#register-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#register-container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 32%;
    background-color: white;
    padding: 0 20px 20px 20px;
}

.form-title {
    text-align: center;
    height: 50px;
}

.form-title h2 {
    width: 90%;
    margin: 20px auto;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 3px;
}

.error {
    color: red;
    margin: 7px;
    text-align: left;
    padding-left: 28px;
    font-size: 1.1rem;
}

.input-field {
    width: 100%;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.input-field label {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #606060;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    font-size: 1.2rem;
    background-color: white;
    padding: 0px 4px;
}

.input-field input:focus+label,
.input-field input:valid+label {
    top: 0;
    color: #1a73e8;
    font-size: 1rem;
}

.input-field input:focus {
    outline-color: #1a73e8;
    background-color: white;
}

.input-field input[type=text],
input[type=password] {
    border-radius: 17px;
    border: 2px solid #dadce0;
    padding: 17px;
    height: 50px;
    width: 90%;
    font-size: 1.1rem;
}

.input-btn-wrapper {
    justify-self: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn {
    width: 200px;
    height: 45px;
    border-radius: 7px;
    background-color: #0063EC;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-top: 10px;
}

.btn:hover {
    opacity: 0.82;
}

/* Banner */
#banner {
    /* border: 2px solid red; */
    height: 450px;
    width: 100%;
    object-fit: fill;
}

#banner img {
    width: 100%;
    height: 100%;
}

.banner-swiper {
    width: 80%;
    height: 450px;
    margin: 139px 135px 32px 135px;
}

.banner-swiper .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.banner-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    opacity: 1;

}

.swiper-button-next,
.swiper-button-prev {
    font-size: 1px !important;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.review-swiper {
    width: 90%;
    margin: 32px 0;
    height: 300px;
}

.review-swiper .swiper-slide {
    background: #fff;
    border: 2px solid #a7a7a7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.review-swiper .swiper-slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-swiper .swiper-slide h3 {
    margin: 10px 0;
    font-size: 18px;
}

.review-swiper .swiper-slide p {
    font-size: 16px;
    color: #666;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-top: 135px;
}

.fa-phone-volume {
    animation: ring 1s ease infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-10deg);
        scale: 1.3;
    }

    45% {
        transform: rotate(0deg);
        scale: 1;
    }

    60% {
        transform: rotate(10deg);
        scale: 1.3;
    }

    75% {
        transform: rotate(0deg);
        scale: 1;
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
    }
}

/* .marquee-content {
    display: inline-block;
    padding-left: 50%;
    animation: marquee 20s linear infinite;
}

.marquee-container:hover .marquee-content {
    animation-play-state: paused;
    Dừng animation khi hover
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
} */

#information {
    margin-top: 100px;
    width: 100%;
    height: 280px;
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0063EC;
}

#information p {
    padding: 30px;
    font-size: large;
}

#information input {
    outline: none;
    border: none;
    padding: 10px;
    padding-right: 70px;
    border-radius: 10px;
    font-size: large;
}

#input-information {
    position: relative;
    /* width: max-content; */
}

#input-information>button {
    position: absolute;
    right: 0;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: #0063EC;
    ;
    transition: opacity 0.2s ease;
    border: none;
    cursor: pointer;
}

#input-information>button:hover {
    opacity: 0.7;
}

#hihi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
}

#footer {
    background-color: #243a58;
    padding-bottom: 20px;
}

#footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    width: 25%;
    align-self: center;
    padding: 30px 30px 0 30px;
}

#footer #footer-container .footer-item img {
    align-self: center;
    width: 140px;
}


#footer #footer-container .footer-item h4 {
    color: #F9D529;
    padding-bottom: 15px;
    margin: 15px 0;
    border-bottom: 3px solid #F9D529;
}

#footer .footer-item a,
#footer .footer-item p {
    text-decoration: none;
    color: white;
    font-size: 11pt;
    line-height: 35px;
    transition: 0.5s;
}

#footer .footer-item a:hover {
    padding-left: 10px;
    color: #F9D529;
}

/* Login */
#login-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#login-container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 30%;
    background-color: white;
    padding: 20px;
}

#login-container a {
    text-decoration: none;
    font-weight: 700;
    color: #0063EC;
}

.eye-icon {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-lock,
.fa-key,
.fa-phone,
.fa-user,
.fa-location-dot {
    font-size: 1rem;
    margin: 0px 5px;

}

.fa-circle-exclamation {
    margin-right: 5px;
    font-size: 1rem;
}

/* Logout */
#logout {
    display: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.2rem;
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 42px;
    right: 10px;
    background-color: white;
    z-index: 10;
    /* width: inherit; */
}

#logout span {
    width: 100%;
    display: inline-block;
    padding: 7px;
    cursor: pointer;
}

#logout span:first-child {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#logout span:hover {
    background-color: #5cb3f1;
}

/* Change password */

#changepassword-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

#changepassword-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 30%;
    background-color: white;
    padding: 20px;
}

/* Toast */
#toast {
    display: none;
    position: fixed;
    min-width: 270px;
    min-height: 80px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    line-height: 70px;
    animation: fadein 1s, fadeout 1s 2.5s;
    z-index: 100;
    font-size: 1.1rem;
}

@keyframes fadein {
    from {
        top: calc(30px - 70px);
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    to {
        top: calc(30px - 70px);
        opacity: 0;
    }
}